@import '../../colors.scss';

.Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

.Header {
  color: $crayola;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.SubHeader {
  color: $crayola;
  font-weight: bold;
  font-size: 24px;
  margin: 0px;
  margin-bottom: 16px;
  padding: 0px;
  text-align: center;
}

.Body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid $dark-charcoal;
  padding: 16px 0;
}

.ListContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ListTitle {
  color: $crayola;
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
  padding: 16px 0px;
  text-align: center;
  border-bottom: 1px solid $dark-charcoal;
}

.DarkTheme {
  color: $vivid-yellow;
}

.DarkTheme .Header {
  color: $vivid-yellow;
}

.DarkTheme .SubHeader {
  color: $crayola;
}

.DarkTheme .ListTitle {
  color: $crayola;
}

.LightTheme {
  color: $crayola;
}

.LightTheme .Header {
  color: $crayola;
}

.LightTheme .SubHeader {
  color: $dark-charcoal;
}

.LightTheme .ListTitle {
  color: $dark-charcoal;
}
