.Card {
  background-color: #333333;
  border-radius: 8px;
  color: #ffe300;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 16px;
}

.CardDetails {
  color: inherit;
  background-color: inherit;
  padding: 0 16px;
  border-radius: 8px;
}

.CardEpiside {
  border-radius: 8px 8px 0px 0px;
  color: inherit;
  font-weight: bold;
  font-size: 20px;
}

.DarkTheme {
  background-color: #333333;
  color: #abb1ba;
}

.LightTheme {
  background: #ffffff;
  color: #4e5b6e;
}
