.Card {
  background-color: #333333;
  border-radius: 8px;
  color: #ffe300;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  margin: 16px;
}

.CardImage {
  border-radius: 8px 0 0 8px;
  width: 260px;
}

.CardDetails {
  color: inherit;
  background-color: inherit;
  padding: 0 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.CardEpiside {
  color: inherit;
  font-weight: bold;
  font-size: 36px;
  padding: 0;
  margin: 0;
}

.CardTitle {
  border-radius: 8px 8px 0px 0px;
  color: inherit;
  font-weight: bold;
  font-size: 20px;
  color: #4bd5ee;
}

.DarkTheme {
  background-color: #333333;
  color: #ffe300;
}

.DarkTheme .CardTitle {
  color: #4bd5ee;
}

.LightTheme {
  background-color: #ffffff;
  color: #4bd5ee;
}

.LightTheme .CardTitle {
  color: #333333;
}
