.Card {
  background-color: #333333;
  border: 1px solid #3c4858;
  border-radius: 8px;
  color: #ffe300;
  display: flex;
  flex-direction: column;
  width: 280px;
}

.CardName {
  border-radius: 8px 8px 0px 0px;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.CardImage {
  border-radius: 8px;
  padding: 0 16px;
  width: 248px;
}

.CardDetails {
  color: inherit;
  background-color: inherit;
  padding: 0 16px;
  font-size: 14px;
}
