@import '../../../colors.scss';

.Input {
  border-radius: 4px;
  width: 100%;
  min-width: 64px;
  min-height: 32px;
  box-sizing: border-box;
  padding-left: 8px;
}

.Input:focus {
  outline-width: 2px;
  outline-color: $vivid-yellow;
  outline-style: inset;
}
