@import '../../../colors.scss';

.DarkTheme {
  background-color: $dark-charcoal;
}

.LightTheme {
  background-color: $black;
}

.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: $crayola;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;

  &__Logo {
    img {
      height: 56px;
      cursor: pointer;
    }
  }

  &__Menu {
    a {
      color: inherit;
      margin: 0 4px;
      text-decoration: none;
    }

    a:hover {
      color: $vivid-yellow;
      margin: 0 4px;
      text-decoration: none;
    }
  }
}
