.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  color: #4bd5ee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 16px;
}

.Logo img {
  height: 56px;
  cursor: pointer;
}

.NavMenu a {
  color: inherit;
  margin: 0 4px;
  text-decoration: none;
}

.NavMenu a:hover {
  color: #ffe300;
  margin: 0 4px;
  text-decoration: none;
}


.DarkTheme {
  background-color: #333333;
}

.LightTheme {
  background-color: #000;
}