@import '../../../colors.scss';

.DarkTheme .CardDataLabel {
  color: $crayola;
}

.DarkTheme .CardDataValue {
  color: $vivid-yellow;
}

.LightTheme .CardDataLabel {
  color: $black-coral;
}

.LightTheme .CardDataValue {
  color: $crayola;
}
