@import '../../../colors.scss';

.DarkTheme {
  .CardDataLabel {
    color: $crayola;
  }
  .CardDataValue {
    color: $vivid-yellow;
  }
}

.LightTheme {
  .CardDataLabel {
    color: $black-coral;
  }
  .CardDataValue {
    color: $crayola;
  }
}
