@import '../../../colors.scss';

.Row {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;

  &__DataLabel {
    color: $crayola;
  }

  &__DataLabel {
    color: $vivid-yellow;
  }
}

.DarkTheme {
  .Row__DataLabel {
    color: $crayola;
  }
  .Row__DataLabel {
    color: $vivid-yellow;
  }
}

.LightTheme {
  .Row__DataLabel {
    color: $black-coral;
  }
  .Row__DataLabel {
    color: $crayola;
  }
}
