$white: #ffffff;
$black: #000000;
$crayola: #4BD5EE;
$vivid-yellow: #FFE300;
$ash-grey: #EFF2F7;
$bright-grey: #E8EAED;
$coconut-white: #E5E9F2;
$charcoal: #3C4858;
$dark-charcoal: #333333;
$black-coral: #4E5B6E;
$gunmetal: #273444;
$cadet-blue: #ABB1BA;
