$white: #ffffff;
$black: #000000;
$crayola: #4bd5ee;
$vivid-yellow: #ffe300;
$ash-grey: #eff2f7;
$bright-grey: #e8eaed;
$coconut-white: #e5e9f2;
$charcoal: #3c4858;
$dark-charcoal: #333333;
$black-coral: #4e5b6e;
$gunmetal: #273444;
$cadet-blue: #abb1ba;
